@import "tailwindcss";
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 9999px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}
